<!doctype HTML>
<html lang="en">
    <head>
        <title>GrimFilerino's Portfolio</title>
        <link rel="stylesheet" href="/less-css/styles.css">
        <base url="https://grimfilerino.com/">
        <meta charset="UTF-8">   
        <meta name="description" content="Grimfilerino's developer portfolio with projects">
        <link rel="canonical" href="https://grimfilerino.dev/">
        <meta name="author" content="Grimfilerino">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Portfolio, Code, Developer, Typescript, Javascript, C, Funbutler, MongoDB, GOLang">
    </head>
    <body>
        <header>
            <div class="row">
                <div class="align-center col-1">
                    <a class="header-title grimfilerino" href="#">
                        <h1>GrimFilerino</h1>
                    </a>
                </div>

                <div class="col-6 disable-on-mobile"></div>

                <div class="align-center disable-on-mobile col-1">
                    <a class="header-title" href="#about">About</a>
                </div>

                <div class="align-center disable-on-mobile col-1">
                    <a class="header-title" href="#work">Work</a>
                </div>

                <div class="align-center disable-on-mobile col-1">
                    <a class="header-title" href="#projects">Projects</a>
                </div>

                <div class="align-center disable-on-mobile col-1">
                    <a class="header-title" href="mailto:me@grimfilerino.com">Contact</a>
                </div>

                <div class="align-center col-1">
                    <a class="header-title" href="https://blog.grimfilerino.com">Blog</a>
                </div>

            </div>

        </header>

        <section class="section" id="about">
            <h3 class="section-title">About me</span>
            <br>

            <span>--</span>

            <div class="section-content row">
                <p class="col-12">My name is Filip and I am from and live in the South of Sweden. I am a backend developer and hobby game developer. 
                I speak Swedish, English fluently, but I am also learning Korean and Tagalog.</p>
            </div>

        </section>

        <br>

        <br>

        <section class="section" id="work">
            <h3 class="section-title">Work</h3>
            <br>

            <span>--</span>
            <br />
            <br />

            <div class="time-line">
                <span class="arrow">▼</span>
            </div>

            <div class="section-content row">

                <div class="node col-11">
                    <br>
                    <span class="company"><a href="https://funbutler.com" target="_blank">Funbutler</a></span>
                    <br>
                    <span>Dev Traniee, 2022</span>
                    <br>
                    <p>I started as a developer trainee at Funbutler. I did a little support, learned angular, 
                    express and node.js only knowing c++, php, css and html beforehand. I spend most of my time fixing bugs and 
                    finding bug from doing my time in the Funbutlers support.</p>
                    <br>
                </div>

                <div class="node col-11">
                    <br>
                    <span class="company"><a href="https://funbutler.com" target="_blank">Funbutler</a></span>
                    <br>
                    <span>Devloper & Support, 2023</span>
                    <br>
                    <p>I mainly did bug fixes and full time support. I also created small features and started maintain a customer dashboard. 
                        I created and bug fixed widgets for this dashboard, through this I learned how to aggregate data from our MongoDB 
                        database and visualizing it for our customers. I also started to learn with the help of another co-worker how to 
                        support and help customers with bookkeeping inquiries</p>
                    <br>
                </div>

                <div class="node col-11">
                    <br>
                    <span class="company"><a href="https://funbutler.com" target="_blank">Funbutler</a></span>
                    <br>
                    <span>Junior Developer, 2024</span>
                    <br>
                    <p>I fix bigger bugs, maintain medium sized features like a dashboard. I also maintain API integration and build 
                        integrations to various gamification systems and other types of systems. I also taught a Developer Trainee support and bug fixing. 
                        I was also responsible for testing and doing quality control on this Trainee. I also manage and help our customers with bookkeeping 
                        inquiries, such as how to bookkeep with our and third party reports. I was also responsible for developing new reports for our customers to use.</p>
                    <br>
                </div>

            </div>

            <br>

        </section>

        <br>

        <br>

        <section class="section" id="projects">
            <h3 class="section-title">Projects</h3>
            <br>

            <span>--</span>
            <br />
            <br />

            <div class="section-content ">
                <div class="row project">
                    <span class="col-12 project-name">
                        Voucher batch generator (Funbutler)
                    </span>

                    <br>

                    <div class="col-12 tags">
                        <div class="tag">GO</div>
                    </div>

                    <br>

                    <p class="col-12 project-description">
                    I created a small Go-lang app to start learning the basics of Go-lang. This application runs in the CLI and 
                    is a tool to help me create batches of vouchers for customers at Funbutler.
                    </p>

                    <br>

                    <a class="col-12 project-link" href="https://github.com/GrimFilerino/voucher-CSV-Generator">See Source</a>
                </div>

                <br />
                <br />

                <div class="row project">
                    <span class="col-12 project-name">
                        Portfolio
                    </span>

                    <br>

                    <div class="col-12 tags">
                        <div class="tag">HTML</div>
                        <div class="tag">Less</div>
                        <div class="tag">Typescript</div>
                    </div>

                    <br>

                    <p class="col-12 project-description">
                        My first portfolio page. Very simple, very cool. Basicly this site.
                    </p>

                    <br>

                    <a class="col-12 project-link" href="https://github.com/GrimFilerino/portfolio-page/">See Soruce</a>
                </div>


            </div>

            <br>

        </section>

        <br>

        <br>

        <section class="section">
            <h3 class="section-title">Technologies</h3>

            <div class="section-content row">

                <span class="tech-header">Languages</span>
                <span class="col-12 tags languages">
                    <div class="tag">Typescript</div>
                    <div class="tag">Javascript</div>
                    <div class="tag">Golang</div>
                    <div class="tag">C++</div>
                    <div class="tag">C</div>
                    <div class="tag">PHP</div>
                    <div class="tag">SQL</div>
                    <div class="tag">CSS</div>
                    <div class="tag">SCSS</div>
                    <div class="tag">C#</div>
                    <div class="tag">GML</div>
                </span>
                <span class="tech-header">Frameworks</span>
                <span class="col-12 tags frameworks">
                    <div class="tag">Angular</div>
                    <div class="tag">NodeJS</div>
                    <div class="tag">Express</div>
                    <div class="tag">SFML</div>
                    <div class="tag">SDL2</div>
                    <div class="tag">ASP.NET</div>

                </span>
                <span class="tech-header">Databases</span>
                <span class="col-12 tags databases">
                    <div class="tag">MongoDB</div>
                    <div class="tag">MySQL</div>
                    <div class="tag">SQL Lite</div>
                    <div class="tag">Postgres SQL</div>
                </span>

            </div>

            <br>

        </section>

        <br>

        <br>

        <footer name="footer">
            <div class="row">
                <div class="col-2 align-left">
                    <span>Last Updated : 2025-08-22</span>
                    <br>
                    <span class="disable-on-mobile">me@grimfilerino.com</span>
                </div>
                <div class="col-8"></div>

                <div class="col-2 align-right">
                    <ul class="link-list">
                        <li><a href="https://grimfilerino.itch.io/" target="_blank">Itch.io</a></li>

                        <li><a href="https://www.linkedin.com/in/grimfilerino/" target="_blank">Linked-In</a></li>

                        <li><a href="https://github.com/GrimFilerino" target="_blank">Github</a></li>
                    </ul>
                </div>
        </footer>

    </body>

</html>
