@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pixelify+Sans:wght@400..700&display=swap");

:root {
	--header-color: #060606;
	--body-color: #1c1c1c;
	--text-color: #fffbe5;

	--grimfilerino-color: #ff5340;

	--node-color: #72aac6;
}

body {
	background-color: var(--body-color);
	font-family: "Pixelify Sans", serif !important;
	min-height: 120vh;
	height: max-content;
	width: 100%;
	overflow-x: hidden;
}

header {
	background-color: var(--body-color);
	width: 100%;
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	align-items: center;
	text-align: center !important;
	z-index: 999999;
}

footer {
	background-color: var(--body-color);
	width: 100%;
	margin: 0;
	margin-top: 100px;
	position: relative;
	z-index: 999999;
	min-height: 100px;
	color: var(--text-color);
	display: flex;
	align-items: self-end;

	.row {
		padding: 0;
		margin: 0 auto;
        width: 96%;

        span {
            text-align: left;
        }
	}

	ul {
		list-style: none;

		li {
			padding-bottom: 10px;
            text-align: right;
		}
	}

	a {
		color: var(--text-color);
	}
}

.align-left {
	justify-content: left;
	text-align: left;
}

.align-right {
	justify-content: right;
	text-align: right;
}

.align-center {
	justify-content: center;
	text-align: center;
}

.header-title {
	display: flex;
	color: var(--text-color);
	text-decoration: none;
	font-size: 18px;
	padding: 15px;
	text-align: center;

	&.grimfilerino {
		color: var(--grimfilerino-color);
	}
}

.logo {
	color: var(--text-color) !important;
	width: 32px;
	height: 32px;
	align-self: center;
	padding-right: 10px;
	padding-left: 10px;
	fill: var(--text-color);
}

.lang-select {
	display: inline-block;
	transform: translatey(-8px);
	position: relative;
	color: var(--text-color);
	width: 50px;
	border-bottom: 1px solid var(--text-color);
	padding-left: 15px;
	padding-right: 15px;
	cursor: pointer;

	span {
		position: absolute;
		bottom: 0;
		left: 0;
	}

	i {
		position: absolute;
		bottom: -1px;
		right: -5px;
	}

	.down {
		display: inline-block;
	}

	.up {
		display: none;
	}

	&.enabled {
		.down {
			display: none;
		}

		.up {
			display: inline-block;
		}

		.lang-overlay {
			display: block;
		}
	}

	.lang-overlay {
		background-color: var(--body-color);
		width: 100px;
		padding: 5px;
		text-align: center;
		position: absolute;
		bottom: 0;
		right: 0;
		display: none;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		box-shadow: 1px 1px 5px black;

		ul {
			color: var(--text-color);
			list-style: none;
			font-size: 18px;
			text-align: center;
			padding: 2px;

			li {
				border-bottom: 1px solid var(--text-color);
				padding-bottom: 5px;
				padding-top: 5px;
				width: 90%;
				margin: 0 auto;

				&:hover {
					background-color: rgba(100, 200, 100, 0.5);
				}

				a {
					text-decoration: none;
					color: var(--text-color);
				}
			}
		}
	}
}

.section {
	position: relative;
	top: 150px;
	margin: 25px auto;
	width: 500px;
	min-height: 200px;
	color: var(--text-color);
	text-align: left !important;
	overflow: hidden;
	display: block;
	box-shadow: -2px 2px 5px black;
	padding: 15px;
	border-radius: 5px;

	.section-title {
		content: " ";
		padding: 0;
		font-size: 24px;
	}

	.section-content {
		min-height: 200px;
		content: " ";
		text-align: left;
		padding: 0 !important;
	}

	.section-action {
		margin-top: 50px;
		min-height: 75px;
		content: " ";
	}
}

.time-line {
	text-align: center;
	border-left: 2px solid var(--text-color);
	position: absolute;
	top: 6%;
	left: 2%;
	transform: translatex(50%);
	content: " ";
	width: 5px;
	height: 80%;
	margin-top: 50px;

	.arrow {
		position: absolute;
		left: -7px;
		bottom: -10px;
	}
}

.node {
	width: 100%;
	min-height: 100px;
	max-height: 100px;
	display: block;
	margin-bottom: 80px;
	text-align: left;
	background-color: var(--body-color);
	z-index: 99999;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 15px;

	p {
		width: 100%;
		font-size: 12px;
	}

	span {
		font-size: 12px;

		&.company {
			font-size: 16px;

            &:before {
                content: " ";
                width: 12px;
                height: 12px;
                border: 3px solid var(--text-color);
                border-radius: 1000em;
                background-color: var(--node-color);
                position: relative;
                position: absolute;
                left: 7px;
            }

			a {
				color: var(--text-color);
			}
		}
	}
}

.project {
	border-left: 1px soild var(--text-color);
	min-height: 150px;
	padding: 0 !important;

	.project-name {
		font-size: 16px;
		padding-bottom: 5px;
	}

	p {
		font-size: 14px;
	}

	.project-link {
		color: var(--text-color);
		font-size: 12px;
	}
}

.tags {
	display: flex;
	flex-direction: row;
	margin-left: -5px;
	flex-wrap: wrap;
	margin-bottom: 15px;

	.tag {
		flex-direction: column;
		color: var(--text-color);
		font-size: 14px;
		border-radius: 100em;
		background-color: rgba(#22dc00, 0.45);
		height: 15px;
		width: auto;
		padding: 5px;
		padding-left: 10px;
		padding-right: 10px;
		text-align: center;
		margin: 5px;
		text-wrap: nowrap;
	}

	&.languages {
		.tag {
			background-color: rgba(#9b00ba, 0.45) !important;
		}
	}

	&.frameworks {
		.tag {
			background-color: rgba(#26a1ff, 0.45) !important;
		}
	}

	&.databases {
		.tag {
			background-color: rgba(#ff1717, 0.45) !important;
		}
	}
}

.tech-header {
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 5px;
}

.disable-on-mobile {
    display: block;
}

@media only screen and (max-width: 1000px) {
    header {
        max-width: 80vw;
    }

    .section {
        max-width: 80vw;

        .node {
            padding-top: 40px;

            .company:before {
                left: 5px;
            }
        }
    }

    footer {
        max-width: 80vw;
    }

    .disable-on-mobile {
        display: none;
    }

    .time-line {
        top:8%;
    }

}


/* ===== GRID ROW COLUMN CODE ===== */
.row {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	align-items: center;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;

	.col-1 {
		grid-column: span 1;
	}

	.col-2 {
		grid-column: span 2;
	}

	.col-3 {
		grid-column: span 3;
	}

	.col-4 {
		grid-column: span 4;
	}

	.col-5 {
		grid-column: span 5;
	}

	.col-6 {
		grid-column: span 6;
	}

	.col-7 {
		grid-column: span 7;
	}

	.col-8 {
		grid-column: span 8;
	}

	.col-9 {
		grid-column: span 9;
	}

	.col-10 {
		grid-column: span 10;
	}

	.col-11 {
		grid-column: span 11;
	}

	.col-12 {
		grid-column: span 12;
	}
}

